@import 'palette';
@import 'mixins';
@import 'variables';

$content-width: 952px;

#login-area {
  height: 100%;
  .q-interactive-login-area {
    height: 630px;
    width: $content-width;
    margin: 0;
    position: relative;
    color: $login-area-text-color;
    padding-top: 30px;
    padding-left: 40px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;

    td {
      padding: 5px 0;
    }
  
    .hello-label {
      color: $login-qinteractive-label-color;
      font-size: 40px;
      padding-bottom: 20px;
      font-weight: lighter;
    }
  
    .logo-for-login-recovery a img {
      border: none;
    }
  
    .login-info-retrieval {
      .header {
        color: $login-qinteractive-label-color;
        font-weight: lighter;
        padding-bottom: 20px;
      }
  
      .primary {
        font-size: 26px;
        padding-bottom: 7px;
      }
  
      .secondary {
        font-size: 19px;
        padding-right: 20px;
      }
  
      .login-recovery-field-label {
        text-align: left;
        color: white;
        height: 22px;
        padding-top: 10px;
      }
  
      .login-button-area {
        vertical-align: bottom;
        padding-left: 0px;
        padding-top: 10px;
      }
  
      .login-area {
        padding-top: 20px;
      }
  
      .login-recovery-input-area input[type='text'] {
        width: 240px;
        height: 30px;
        line-height: 30px;
      }
  
      .login-recovery-input-area input[type='password'] {
        width: 240px;
        height: 30px;
        line-height: 30px;
      }
  
      padding-top: 40px;
      padding-left: 80px;
    }
  
    .login-label {
      color: $login-field-label-color;
      font-size: 42px;
      padding-bottom: 10px;
      font-weight: lighter;
    }
  
    .login-area {
      width: 600px;
      *height: 65px; /* IE7 Only */
    }
  
    .loggedout-area {
      display: inline;
      color: $login-field-label-color;
      background: $login-area-backgorund-color;
      width: 600px;
      border: 1px solid $login-area-border;
      border-radius: 10px;
      -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
      *height: 100px; /* IE7 Only */
    }
  
    .login-name-label {
      border-bottom: 1px solid $login-field-border-color;
      border-right: 1px solid $login-field-border-color;
    }
  
    .username-label,
    .password-label {
      text-align: left;
      color: white;
      height: 22px;
    }
  
    .recover-username-label,
    .recover-password-label,
    .recover-username-return-label {
      text-align: left;
      color: #1a7f89;
      height: 22px;
      padding-bottom: 15px;
      padding-top: 3px;
      @include display-inline-block();
    }
  
    .recover-username-label:hover,
    .recover-password-label:hover,
    .recover-username-return-label:hover {
      color: #18bdce;
    }
  
    .login-name-input-area input,
    .password-input-area input {
      border-radius: 5px;
      padding: 0 8px;
      width: 240px;
      &.disabled {
        background-color: $input-color;
        cursor: $cursor-disabled;
      }
    }
  
    .login-name-input-area input,
    .password-input-area input,
    #login-button {
      height: 30px;
      line-height: 30px;
      &.disabled {
        pointer-events: none;
        color: $gray-light;
      }
    }
  
    #login-button {
      border-radius: 5px;
      border: none;
      width: auto;
      line-height: 0 !important;
      color: white;
      -webkit-box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
      filter: none;
  
      background-color: #000000;
      /* Old browsers */
      /* FF3.6+ */
      background: -moz-linear-gradient(top, $login-button-background-gradient-start 0%, $login-button-background-gradient-end 100%);
      /* Chrome,Safari4+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $login-button-background-gradient-start), color-stop(100%, $login-button-background-gradient-end));
      /* Chrome10+,Safari5.1+ */
      background: -webkit-linear-gradient(top, $login-button-background-gradient-start 0%, $login-button-background-gradient-end 100%);
      background: -o-linear-gradient(top, $login-button-background-gradient-start 0%, $login-button-background-gradient-end 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, $login-button-background-gradient-start 0%, $login-button-background-gradient-end 100%);
      /* IE6-8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #{ie_hex_str(opacify($login-button-background-gradient-start, 1))}, endColorstr = #{ie_hex_str(transparentize($login-button-background-gradient-end, 1))}, GradientType = 0);
      }
  
    #login-button:hover {
      cursor: pointer;
      &.disabled {
        cursor: none;
      }
    }
  
    #login-button:active {
      /*-webkit-box-shadow: 0px 0px 0px;*/
      background-color: #000000;
      /* Old browsers */
      /* FF3.6+ */
      background: -moz-linear-gradient(top, $login-button-background-gradient-start-pushed 0%, $login-button-background-gradient-end 100%);
      /* Chrome,Safari4+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $login-button-background-gradient-start-pushed), color-stop(100%, $login-button-background-gradient-end));
      /* Chrome10+,Safari5.1+ */
      background: -webkit-linear-gradient(top, $login-button-background-gradient-start-pushed 0%, $login-button-background-gradient-end 100%);
      background: -o-linear-gradient(top, $login-button-background-gradient-start-pushed 0%, $login-button-background-gradient-end 100%);
      /* Opera11.10+ */
      background: -ms-linear-gradient(top, $login-button-background-gradient-start-pushed 0%, $login-button-background-gradient-end 100%);
      /* IE6-8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #{ie_hex_str(opacify($login-button-background-gradient-start-pushed, 1))}, endColorstr = #{ie_hex_str(transparentize($login-button-background-gradient-end, 1))}, GradientType = 0);
    }
  
    .terms-of-use,
    .privacy-policy {
      display: inline-block;
      color: $login-privacy-text-color;
      font-size: 14px;
      width: 90px;
      text-decoration: none;
    }
  
    input {
      border: none;
      background-color: $login-input-background-color;
      width: 95%;
      height: 20px;
      -webkit-appearance: none;
      font-size: 15px;
    }
    button {
      -webkit-appearance: none;
      font-size: 15px;
    }
  
    input:focus, .cell-on-focus {
      background-color: $login-input-focus-background-color;
    }
  
    input[type='checkbox'] {
      -webkit-appearance: checkbox;
    }
  
    .cssform {
      height: 60px;
    }
  
    table {
      border-collapse: collapse;
      width: 100%;
  
      tr {
        color: $login-table-row-text-color;
        font-size: 15px;
        vertical-align: top;
      }
    }
  
    .error-message-area {
      width: 952px;
      vertical-align: middle;
      padding-bottom: 20px;
    }
  
    .errors {
      color: $login-message-color;
      font-size: 18px;
      max-width: 300px;
      margin-top: 15px;
      line-height: 1.1em;
    }
  
    .errors-large {
      @extend .errors;
      font-size: 19px;
    }
  
    .errors-medium {
      @extend .errors;
      font-size: 17px;
    }
  
    .errors-small {
      @extend .errors;
      font-size: 15px;
    }
  
    .errors-extrasmall {
      @extend .errors;
      font-size: 14px;
    }
    
    .lock {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 10px;
      height: 27px;
      width: 20px;
      vertical-align: bottom;
    }
  
    .lock-timer-digit {
      @extend .errors-large;
      font-style: italic;
      font-size: 22px;
      vertical-align: middle;
    }
  
    .lock-timer-text {
      @extend .errors-medium;
      font-style: italic;
      font-size: 18px;
      vertical-align: middle;
    }
  
    .message {
      color: white;
      font-size: 18px;
      line-height: 18px;
    }
  }
}