<div class="new-version-prompt">
    <div class="title">
        
    </div>

    <div class="prompt-content">
        <div class="content-display">

        </div>
        
    </div>
    <hr/>
    <div class="continue-prompt">
        Do you want to continue download the new content now?
    </div>
    <div class="button-panel">
            <button class="no" type="button" tabindex="1" value="No">No</button>
            <button class="yes" type="button" tabindex="1" value="Yes">Yes</button>
    </div>

</div>