<div class="new-version-prompt">
    <div class="title">
        
    </div>

    <div class="prompt-content">
        <div class="content-display">

        </div>
        
    </div>
    <hr/>
    <div class="continue-prompt">
        {{ i18n key='give.content.ask.download' }}
    </div>
    <div class="button-panel">
            <input class="no" type="button" tabindex="1" value="{{ i18n key='give.reply.negative'}}"/>
            <input class="yes" type="button" tabindex="1" value="{{ i18n key='give.reply.affirmative'}}"/>
    </div>

</div>