.login-spinner {
    .spinner {
        background-image: url("../images/login-spinner.gif");
        margin-top: 3em;
        height: 1em;
        background-repeat: no-repeat;
        background-size: contain;
    }
}